.title-h2 {
    font-family: Avenir, verdana;
}


.mere-show-more {
    position: relative;
    width: 250px;
    font-family: 'avenir', verdana;
    margin-bottom: 84px;
}

.mere-show-more--less {
    display: none;
}

.mere-show-more--label {
    position: absolute;
    bottom: -40px;
    display: block;
    background: #08C;
    padding: 5px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 2px;
    color: white;
    font-weight: bold;
}

.mere-show-more--input {
    position: absolute;
    top: -9999px;
    left: -9999px;
    display: none;
}

.mere-show-more--cont-hidden {
    overflow: hidden;
}

.mere-show-more--input:checked ~ .mere-show-more--label .mere-show-more--more {
    display: none;
}

.mere-show-more--input:checked ~ .mere-show-more--label .mere-show-more--less {
    display: block;
}

.mere-show-more--input:checked ~ .mere-show-more--cont-hidden {
    overflow: auto;
    height: auto !important;
}